@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
body {
    @apply bg-white text-black;
  }
  
  .dark body {
    @apply bg-gray-900 text-white;
  }
  


  /* scollbar  */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  